<mat-list>
  <mat-list-item>
    Director
  </mat-list-item>
  <mat-list-item class="detail">
    {{ movieDetail.director}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Producer
  </mat-list-item>
  <mat-list-item class="detail">
    {{ movieDetail.producer}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Release Date
  </mat-list-item>
  <mat-list-item class="detail">
    {{ movieDetail.release_date}}
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
