<mat-list>
  <mat-list-item>
    Height
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.height}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Mass
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.mass}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Hair Color
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.hair_color}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Eye Color
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.eye_color}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Birth Year
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.birth_year}}
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    Genders
  </mat-list-item>
  <mat-list-item class="detail">
    {{ peopleData.gender}}
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
